.header img {
  max-width: 100px;
}
.navbar-brand {
  padding: 0;
  margin-bottom: 40px;
}
.header {
  padding: 0;
}
.header h1 {
  font-family: 'Satisfy', cursive;
  color: #FF827B;
  font-size: 40px;
  max-width: 200px;
  display: inline-block;
}
.nav-pills>li.active>a {
  background-color: #FF827B;
}
.nav-pills>li.active>a:hover {
  background-color: #FF5B52;
  color: white;
}
.nav-pills>li>a:hover {
  background-color: #FF5B52;
  color: white;
}
.header ul {
  display: inline-block;
  position: relative;
  margin-top: 20px;
}
.nav a {
  font-family: 'Open Sans', sans-serif;
  color: #61AEE6;
  font-size: 20px;
}
.jumbotron {
  background-image: url('../img/hero.jpg');
  min-height: 500px;
  background-size: cover;
  background-position: center;
}
.jumbotron h1 {
  font-family: 'Open Sans', sans-serif;
  color: #FFF;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 42px;
  margin-top: 0;
}
.featured .item {
  padding: 0 5px;
}
.featured h2 {
  text-transform: uppercase;
}
.item .thumbnail {
   background-color: #EDF1F4;
   padding: 10px;
 }
.services h2 {
  text-transform: uppercase;
}
.services ul li a{
    text-transform: uppercase;
    color: #61AEE6;
}
footer img {
  max-width: 150px;
}
footer .row {
  margin: 0;
}
footer {
  background-color: #231F20;
  padding: 15px;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #FF827B;
}
footer .border {
  border-left: 1px solid #333;
}
footer .copyright {
  color: #444;
  font-size: 18px;
}
.map {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  pointer-events: none;
}
